@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --orange: #ff5722;
  --orange-form: #ff8a50;
  --link: #918e9b;
  --body: #333333;
  --button: #03a9f4;
  --buttonHover: #48c5ff;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Header */
header {
  background-color: var(--orange);
  height: 64px;
  display: flex;
  align-items: center;
}
header .logo {
  margin-right: auto;
}

header img {
  max-width: 100%;
  width: 290px;
}

/* Main */
main {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  color: var(--body);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #000;
  border-bottom: 1px solid var(--orange);
  margin-bottom: 2rem;
  display: inline-block;
  font-size: 2.3rem;
}

article {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--orange);
  padding: 2rem 0;
  gap: 1rem;
}
article img {
  height: 168px;
  width: 126px;
  border-radius: 5px;
  object-fit: cover;
}
article .info {
  align-self: center;
}

.info .location {
  display: flex;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  gap: 0.2rem;
}
.info svg {
  color: var(--orange);
}
a {
  letter-spacing: initial;
  text-transform: none;
  margin-left: 1rem;
  color: var(--link);
}

h2 {
  font-style: bold;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.date {
  font-weight: bolder;
  font-size: 0.8rem;
}
p {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  line-height: 150%;
}

.new_destination {
  background-color: var(--button);
  color: white;
  /* height: 48px; */
  padding: 0.6rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
  letter-spacing: -1.5px;
  margin-top: 40px;
  border: 2px solid var(--button);
  transition: all 0.3s;
}

.new_destination:hover {
  background-color: var(--buttonHover);
  border-color: var(--buttonHover);
}

.new_destination:active {
  background-color: white;
  color: var(--button);
  border-color: var(--button);
  transition: all 0s;
}
.new_destination:active path {
  stroke: var(--button);
  transition: all 0s;
}

.big-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border-top: 2px solid var(--orange-form);
  border-left: 2px solid var(--orange-form);
  border-right: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-good {
  border: 2px solid var(--orange-form);
  outline: none;
}

input:focus {
  border: 2px solid var(--orange-form);
  outline: none;
}

textarea {
  padding: 0.6rem;
  border-radius: 5px;
  border-top: 2px solid var(--orange-form);
  border-left: 2px solid var(--orange-form);
  border-right: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: 0;
  -moz-appearance: none;
}

label {
  font-size: 0.7rem;
  margin-left: 1rem;
  margin-bottom: -0.8rem;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttons-wrapper a {
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: white;
  color: var(--button);
  border: 2px solid var(--button);
  text-decoration: none;
}

.buttons-wrapper a:hover {
  color: white;
  background-color: var(--button);
}

button {
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--button);
  color: white;
  border: 2px solid var(--button);
  font-size: 16px;
}

button:hover {
  background-color: var(--buttonHover);
  border-color: var(--buttonHover);
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.small-form-wrapper {
  padding: 1rem;
}

#login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#register-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action-button {
  width: 150px;
  align-self: center;
  margin: 0 auto;
}

.confirmation-dialog {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 30;
  top: 0;
}

.confirmation-dialog div {
  background: white;
  position: absolute;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirmation-dialog p {
  margin: 0;
}

.confirmation-dialog button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.confirmation-dialog button#cancel-delete {
  background-color: var(--button);
}
